<div class="container">
  <h2>新規ユーザー登録</h2>
  <p>初めての方、ユーザー登録がお済みでない方はこちらから新規登録をしてください</p>
  <div class='row'>
    <div class='col-md-12'>

      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

        <p class="field">
          <%= f.label :氏名 %><br>
          <%= f.text_field :name, autofocus: true, placeholder:"言語 太郎" %>
        </p>

        <p class="field">
          <%= f.label :氏名（カナ） %><br>
          <%= f.text_field :name_kana, placeholder:"ゲンゴ タロウ" %>
        </p>

        <p class="field">
          <%= f.label :メールアドレス %><br>
          <%= f.email_field :email, autocomplete: "email", placeholder:"..@.."%>
        </p>

        <p class="field">
          <%= f.label :所属 %><br>
          <%= f.text_field :affiliation, placeholder:"◯◯病院" %>
        </p>

        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %><br>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <p class="field">
          <%= f.label :パスワードの確認 %><br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </p>

        <p class="actions">
          <%= f.submit "新規登録" %>
        </p>
      <% end %>

      <p><%= render "devise/shared/links" %></p>

      <p>
        こちらから
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
        ができます
      </p>

    </div>
  </div>
</div>
