<div class="container">
  <h2><strong>訓練編集</strong></h2>
  <%= render 'rehabilitations/error_messages', rehabilitation: @rehabilitation %>
  <div class='row'>
    <div class='col-md-12'>
      <%= form_with model:@rehabilitation,local:true do |f| %>
        <p>
          <h5>訓練名</h5>
          <%= f.text_field :training_name %>
        </p>
        <p>
          <h5>言語病理学的所見</h5>
          <%= f.text_area :speech_pathological_findings, rows:'2', cols:"30" %>
        </p>
        <p>
          <h5>適応・注意事項</h5>
          <%= f.text_area :adaptation_precautions, rows:'3', cols:"40" %>
        </p>
        <p>
          <h5>準備物</h5>
          <%= f.text_area :items, rows:'3', cols:"30" %>
        </p>
        <p>
          <h5>訓練内容（手順・内容）</h5>
          <%= f.text_area :training_content, rows:'9', cols:"90" %>
        </p>
        <p>
          <h5>参考画像</h5>
          <%= attachment_image_tag @rehabilitation, :training_image, fallback: "no_image.jpg" %>
          <%= f.attachment_field :training_image %>
        </p>
        <p class="text-center">
          <%= f.submit "更新する", class: "btn btn-success" %>
        </p>
      <% end %>
    </div>
  </div>
</div>