<% @rehabilitations.each do |rehabilitation| %>
<div>
  <p>投稿ユーザー画像：<%= image_tag('sample-author1.jpg') %></p>
  <p>ユーザーネーム：<%= rehabilitation.user.name %></p>
  <p>訓練名：
    <%= link_to rehabilitation_path(rehabilitation.id) do %>
      <%= rehabilitation.training_name %>
    <% end %>
  </p>
  <p>投稿日時：<%= rehabilitation.created_at %></p>
</div>
<% end %>