<div class="rehabilitation-body">
  <p>訓練名：<%= @rehabilitation.training_name %></p>
  <p>言語病理学的所見：<%= @rehabilitation.speech_pathological_findings %></p>
  <p>適応・注意事項：<%= @rehabilitation.adaptation_precautions %></p>
  <p>準備物：<%= @rehabilitation.items %></p>
  <p>訓練内容：<%= @rehabilitation.training_content %></p>
  <p><%= attachment_image_tag @rehabilitation, :training_image %></p>
  <p>投稿日時：<%= @rehabilitation.created_at.to_s(:datetime) %></p>
  </br>
  <% if @rehabilitation.user == current_user %>
    <%= link_to "編集", edit_rehabilitation_path(@rehabilitation.id) %>
    <%= link_to "削除", rehabilitation_path(@rehabilitation.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>
</div>
