<div class="container">
  <h2>ログイン</h2>
  <p>既に登録済みの方はこちらからログインしてください</p>
  <div class='row'>
    <div class='col-md-12'>

      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <p class="field">
          <%= f.label :メールアドレス %><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </p>

        <div class="field">
          <%= f.label :パスワード %><br>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <p class="field">
            <%= f.check_box :パスワードを覚えておく %>
            <%= f.label :パスワードを覚えておく %>
          </p>
        <% end %>

        <p class="actions">
          <%= f.submit "ログイン" %>
        </p>
      <% end %>

      <p><%= render "devise/shared/links" %></p>

      <p>
        こちらから
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
        ができます
      </p>

    </div>
  </div>
</div>