<% rehabilitation_comments = rehabilitation.rehabilitation_comments.order(id: "DESC") %>
<!--#parents＝親になるコメントのid-->
<% parents = [] %>
<% rehabilitation_comments.each do |rehabilitation_comment| %>
  <p>
    <%= render 'rehabilitation_comments/parent_comment', rehabilitation_comments: rehabilitation_comments, rehabilitation_comment: rehabilitation_comment, parents: parents %>
    <!--#親として出力されていたら除外する-->
    <% if parents.exclude?(rehabilitation_comment.id) %>
      <%= render 'rehabilitation_comments/comment', rehabilitation_comment: rehabilitation_comment %>
      <%= form_with(model:[rehabilitation, new_rehabilitation_comment]) do |f| %>
        <%= f.text_area :comment, rows:'3', cols:"20", placeholder: "コメントへの返信" %><br>
        <%= f.hidden_field :reply_comment, :value => rehabilitation_comment.id  %>
        <%= f.submit "コメントする" %>
      <% end %>
    <% end %>
  </p>
<% end %>