<% rehabilitation.rehabilitation_comments.each do |rehabilitation_comment| %>
  <%= attachment_image_tag rehabilitation.user, :profile_image, size: "60x60", fallback: "no_image.jpg" %>
  <%= rehabilitation_comment.user.name %>
  <p><%= rehabilitation_comment.comment %></p>
  <%= rehabilitation_comment.created_at.to_s(:datetime) %>
  <% if rehabilitation_comment.user == current_user %>
    <div class="comment-delete">
      <%= link_to "コメントを削除", rehabilitation_rehabilitation_comment_path(rehabilitation_comment.rehabilitation, rehabilitation_comment), method: :delete, remote: true, "data-confirm" => "本当に削除しますか？" %>
    </div>
  <% end %>
<% end %>